.modal {
  display: none;
  position: absolute;
  width: 80%;
  padding: 50px;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px 0 rgba(#000000, 0.2);
  transform: translate(-50%, -50%);

  &--js-isShow {
    display: block;
  }
}

.section {
  width: 50%;
}

.item-button {
  width: 40px;
  height: 40px;
  padding: 0;
  flex-grow: 0;
}
