@import "./const";
@import "./item-button";
@import "./modal";
@import "./form";
@import "./book-modal";


img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-wrapper {
  width: 150px;
  height: 200px;
  overflow: hidden;
}

.section {
  width: 50%;
}

.absolute {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#ffffff, 0.8);
  transform: translate(-50%, -50%);
}

.controll-buttons{
  margin-top: auto;

  button{
    margin-right: 5px;
  }
}
